<section class="opencdc-section project" id="open-data">
   <div class="section-header">
    <h2>
      <span class="text">API Guidance</span>
      
    </h2>
    <p class="tagline">CDC's <a href="https://www.cdc.gov/sdp/index.html" target="_blank">Surveillance Data Platform</a> program offers guidance on several aspects of RESTful API design and implementation.</p>
    <table class="opencdc-table-borderless">
      <tbody>
        <tr>
          <td width="20%"><strong>RESTful API Design:</strong></td>
          <td><a href="https://publichealthsurveillance.atlassian.net/wiki/spaces/STA/pages/478969857/REST+API+Guidance+-+Version+1.1" target="_blank">https://publichealthsurveillance.atlassian.net/wiki/spaces/STA/pages/478969857/REST+API+Guidance+-+Version+1.1</a></td>
        </tr>
        <tr>
          <td width="20%"><strong>Example RESTful API:</strong></td>
          <td><a href="https://publichealthsurveillance.atlassian.net/wiki/spaces/STA/pages/387710977/RESTful+API+Example+SDP-V" target="_blank">https://publichealthsurveillance.atlassian.net/wiki/spaces/STA/pages/387710977/RESTful+API+Example+SDP-V</a></td>
        </tr>
        <tr>
          <td width="20%"><strong>API Implementation Considerations:</strong></td>
          <td><a href="https://publichealthsurveillance.atlassian.net/wiki/spaces/STA/pages/485425156/API+Implementation+Considerations" target="_blank">https://publichealthsurveillance.atlassian.net/wiki/spaces/STA/pages/485425156/API+Implementation+Considerations</a></td>
        </tr>
        <tr>
          <td width="20%"><strong>Using OAuth to Secure CDC APIs:</strong></td>
          <td><a href="https://publichealthsurveillance.atlassian.net/wiki/spaces/STA/pages/410189825/Using+OAuth+to+Secure+CDC+APIs" target="_blank">https://publichealthsurveillance.atlassian.net/wiki/spaces/STA/pages/410189825/Using+OAuth+to+Secure+CDC+APIs</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

