<section class="opencdc-section banner-header">
  {% if page.layout == 'search' %}
    {% include search.html %}
  {% endif %}
  {% if page.layout != 'search' %}
  <div class="opencdc-grid">
    <div class="opencdc-whole-row">
      <h2>{{ page.banner-heading }}</h2> {% if page.banner-text %}
      {% for text in page.banner-text %}
      <p>{{ text }}</p>
      {% endfor %}
      {% endif %} {% if page.banner-button-text %}
      <div class="center-content">
        <a href="{{ page.banner-button-link}}" class="opencdc-button" title="{{ page.banner-button-title }}">{{ page.banner-button-text }}</a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
</section>