<section class="section-top hero-section">
  <div id="main" tabindex="-1" class="hero-img">
    <section class="hero-content">
      {% if page.layout == 'home' %}
      <div class="usa-grid intro">
        <div class="usa-width-one-half">
          <h1>{{ page.hero-text }}</h1>
        </div>
        <div class="usa-width-one-half">
          <a href="{{ '/code.html' | prepend: site.baseurl }}">
            <img class="" src="/assets/img/img-hero-intro.svg" alt="hero api image">
          </a>
        </div>
      </div>
      {% endif %}
      {% if page.layout == 'page' %}
      <div class="usa-grid">
        <div class="usa-width-one-whole usa-end-row">
          <h2>{{ page.banner-heading }}</h2> {% if page.banner-text %}
          <p>{{ page.banner-text }}</p>
          {% endif %} {% if page.banner-button-text %}
          <div class="center-content">
            <a href="{{ page.banner-button-link}}" class="usa-button" title="{{ page.banner-button-title }}">{{ page.banner-button-text }}</a>
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </section>
    <svg class="hero-border" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="white" points="0,100 100,0 100,100"/>
    </svg>
  </div>
</section>