<div class="opencdc-grid">
  <div class="opencdc-width-one-whole opencdc-end-row">
    <h2>{{ page.hero-text }}</h2>
    <form class="opencdc-search opencdc-search-big" action="{{ '/search.html' | prepend: site.baseurl }}" method="get">
      <div role="search">
        <input id="search-field" type="search" name="search">
        <button type="submit">
          <span class="opencdc-search-submit-text"><i class="fa fa-search"></i> Search</span>
        </button>
      </div>
    </form>
  </div>
</div>