$code-border-color: #979797;

section.project {
  .section-header {
    h2 {
      color: #205493;
    }
    img.section-image {
      position: absolute;
      margin: -30px 0 0 10px;
      height: 80px;
    }
    p {
      color: #777;
    }
    hr {
      border: 0;
      height: 1px;
      background-color: $code-border-color;
    }
  }

  .repos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;

    .repo {
      border: 1px solid #e6e6e6;
      background-color: #f5f5f5;
      margin: 20px 0;
      padding: 20px;
      flex: 1;
      min-width: 48%;
      max-width: 48%;

      a {
        color: #555;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          color: #777;
        }
      }

      .docker-image {
        img {
          height: 25px;
        }

        &:hover {
          img {
            opacity: 0.8;
          }
        }
      }

      .resources {
        padding: 0.5rem 0;
      }

      .resources, .tags, .license {
        font-size: 0.85em;
      }
      .license {
        color: #777;
        text-align: right;
      }

      h3 {
        border: 1px solid $code-border-color;
        padding: 10px;
        display: inline-block;
        color: inherit;
        font-size: 1rem;
        margin: 0 0 10px 0;
      }

      p {
        color: #7E7E7E;
      }
    }
  }
}

@media (max-width: 1400px) {
  section.project {
    .repos {
      .repo {
        min-width: 100%;
        max-width: 100%;
      }
    }
  }
}