.events {
	.event {
		.section-header {
			h2 {
				a:hover {
					opacity: 0.8;
					outline: none;
				}
			}
		}
		.section-content {
			display: flex;

			.section-side {
				flex: 1;
				background-color: #eee;
				padding: 20px;

				h4 {
					margin: 0;
				}

				a.register {
					background-color: $button-color;
					padding: 10px;
					width: 100%;
					display: block;
					color: white;
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;

					&:hover {
						opacity: 0.8;
					}
				}
			}

			.section-main {
				flex: 4;

				img.section-image {
					width: 100%;
				}

				.description {
					padding: 20px;
					
					p {
						margin: 10px 0;
					}
				}
			}
		}
	}
}