$sourcesanspro: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

.opencdc-footer-secondary_section {
  background-color: $footer-background-color;
}
footer p,
footer a,
footer a:visited {
  color: #959595;
  text-decoration: none;
  font-family: $sourcesanspro;
}
footer a:hover {
  color: #B6B6B6;
}
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
  color: #555;
  margin-bottom: 10px;
  font-weight: normal;
  font-family: $sourcesanspro;
}
footer {
  .opencdc-unstyled-list > li {
    a {
      font-size: 0.8em;
    }
  }
}
.opencdc-footer-secondary_section a {
  color: #fff;
}
footer .opencdc-footer-logo small a {
  color: $cdc-blue;

  &:hover {
    color: $cdc-blue;    
    text-decoration: underline;
  }
}

.opencdc-footer {
    padding: 1em;
    background-color: #F8F8F8;
  @media screen and (min-width: 1200px){
    padding: 2em 0;
    width:100%;
    height: $footer-height;
    position:absolute;
    bottom:0;
    left:0;
  }
}

.opencdc-footer-logo p {
  text-align: right;
  font-size: 14px;
}

.opencdc-footer-logo .logo {
  width: auto;
  height: 90px;
}
