#header {
	background: $dark-blue;
}

.header-logo {
  min-width: 50px;
}

.header-notice{
	display:inline-block;
	vertical-align:middle;
	text-align:center;
}

.theme-blue nav .mobile-section-nav a.mobile-section-nav-foot span {
	color: #fff;
}