.page--banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  width: 100%;
}
.caption {
  float: right;
}

.fixed-page-height{
  height: 250px;
}

.hero-section {
  h2, p {
    color: #fff;
  }
}

.usa-section.banner-header {
  background-color: $dark-blue;
  padding-top: 3rem;

  h1,h2,h3,h4,h5,p {
    color: #fff;
  }
}