#search-results {
  padding-top: 50px;
}

.result-item {
  padding: 10px 0;
  list-style: none;
}

.opencdc-section-blue {
  background-color: #0360B2;

  h1,h2,h3,h4,h5 {
    color: #fff;
  }
}

.opencdc-search [type=search], .opencdc-search .opencdc-search-input {
  border: 1px solid #fff;
  width: 500px;
}
.opencdc-search [type=submit], .opencdc-search .opencdc-search-submit {
  background-color: #ccc;
  color: #555;
  font-weight: normal;
  cursor: pointer;

  &:hover {
    background-color: white;
  }
}