---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$background-color:         {{ site.colors.background }};
$headers-color:            {{ site.colors.headers }};
$text-color:               {{ site.colors.text }};
$header-text-color:        {{ site.colors.headers }};
$button-color:             {{ site.colors.button.background }};
$button-hover-color:       {{ site.colors.button.hover }};
$button-text-color:        {{ site.colors.button.text }};

$project-accent-color:     {{ site.colors.projects.accent }};

$banner-background-color: {{ site.colors.banner.background }};
$banner-text-color:       {{ site.colors.banner.text }};
$banner-button-color:     {{ site.colors.banner.button.background }};
$banner-button-text-color:       {{ site.colors.banner.button.text }};

$footer-background-color:  {{ site.colors.footer.background }};
$footer-text-color:        {{ site.colors.footer.text }};

// colors 
$cdc-blue: #075290;
$cdc-logo-blue: #115daa;
$cdc-blue-alpha-75: rgba(7, 82, 144, 0.75);

$dark-blue: #005eaa;

// radius
$radius: 5px;

// Mixin
@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bottom,GradientType=0 ); /* IE6-9 */
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
}

@mixin transition($transition) {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "apis",
        "banners",
        "base",
        "code",
        "collaborate",
        "data-listing",
        "events",
        "sidenav",
        "home",
        "hero",
        "iframe",
        "pages",
        "projects",
        "footer",
        "header",
        "search",
        "nav"
;
