---
layout: page
title: APIs
permalink: /apis.html
category: apis
banner-heading: APIs
banner-text: Here you will find Application Programming Interfaces (APIs) with live endpoints for you to explore.
banner-button-link:
banner-button-title:
---

{% for section in site.data.apis %}
<section class="usa-section project" id="{{ section.id }}">
   <div class="section-header">
    <h2>
      <span class="text">{{section.title}}</span>
      {% if section.image %}
        <img src="{{ site.baseurl }}/assets/img/{{ section.image }}" alt="{{section.title}}" class="section-image" />
      {% endif %}
    </h2>
    <a href="{{ section.url }}" target="_blank">{{ section.url }}</a>
    <p class="tagline">{{ section.tagline }}</p>
    <hr />
  </div>
</section>
{% endfor %}