<!doctype html>
<html lang="en">

{% include head.html %}

<body>
  <div id="wrapper">
    <div id="header">{% include header.html %}</div>
    <div id="content">
      {% if page.banner-heading %}
        {% include hero-header.html %}
      {% endif %}
      <section class="usa-section">
        <div class="usa-grid">
          <div class="usa-width-one-whole">
            {% if page.content %} {{ content }} {% endif %}
          </div>
        </div>
      </section>
    </div>
    <div id="footer">{% include footer.html %}</div>
    {% include javascript.html %}
  </div>
</body>
</html>